In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv(r'anime.csv')

In [10]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [11]:
#Make a new colunm for episode count
df.loc[0]

Rank                                                     1
Title    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Score                                                  9.1
Name: 0, dtype: object

In [12]:
def extract_episode (txt):
    check = False
    data = ""
    for i in txt:
        if i == ")":
            check = False
            return data
        if check == True:
           data = data + i
        if i == "(":
            check = True 
        
df['Episode'] = df['Title'].apply(extract_episode)
df['Episode'] = df['Episode'].str.replace(" eps","")
df['Episode'] = df['Episode'].astype(int)
df.head()

   Rank                                              Title  Score  Episode
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10       64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07       24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06       13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06       51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05       10

In [13]:
#Make a new column for time stamp
def extract_timestamp(txt):
    check = False
    data = ""
    for i in range (len(txt)):
        if txt[i] == ")":
            for n in range (i+1, i+20):
                data += txt[n] 
            return data    
        
df['total time stamp'] = df['Title'].apply(extract_timestamp)
df.head()

,Rank,Title,Score,Episode,total time stamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [14]:
#Which anime is the highest score
df[df['Score'] == df['Score'].max()]

,Rank,Title,Score,Episode,total time stamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010

In [15]:
#Give me top 5 highest scoring anime 
df['Title'].head()

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

In [16]:
#Which anime has the highest episode count
df[df['Episode'] == df['Episode'].max()]

,Rank,Title,Score,Episode,total time stamp
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010

In [19]:
#anime with top 5  episode count
df.nlargest(5, 'Episode')

,Rank,Title,Score,Episode,total time stamp
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005

In [20]:
#whiche is the longest runing anime
df.loc[df['Episode'].idxmax()]

Rank                                                               16
Title               GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
Score                                                            8.94
Episode                                                           201
total time stamp                                  Apr 2006 - Mar 2010
Name: 15, dtype: object